.installed.cfg
.mr.developer.cfg
Kotti.db*
bin/
build/
develop-eggs/
include/
lib/
parts/
src/
downloads/
eggs/
pyramid.log
pyramid.pid
.codeintel/
local
omelette
tnc.sublime-project
tnc.sublime-workspace
paster.log
paster.pid
kotti.log
fcgi.log
